/*--- CONF GEREAL ---*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/* --- HEADER --- */

header{
    background-image: url("/src/img/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 35em;
}

.container{
    padding-top: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container h2, a{
    color: #ffffff;
    font-weight: 900;
    
}

.container h2{
    margin-right: 50px;
}

.container a{
    margin-right: 5%;
    
}

nav{
    display: flex;
    flex-direction: row;

    margin-right: 10%;
    
}

.text-header{
    margin-top: 8rem;
    margin-left: 14.5rem;

    color: #ffffff;
    letter-spacing: 5px;

    font-size: 40px;

    border: 1px solid #ffffff;
    width: 27rem;

    padding: 2rem;
    
}

/* --- SECTION 1 --- */

.section1{
    height: 45rem;
}

.img-section1{
    margin: 7rem 14.5rem;
}

.text-section1{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    width: 30rem;
    margin-left: 40rem;
    margin-top: -20rem;
    position: relative;

    padding: 4rem;
}

.text-section1 h2{
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.text-section1 p{
    margin-top: 1rem;
    
    font-size: 17px;
    color: rgb(136, 136, 136);
    font-weight: 900;
    letter-spacing: 1px;
}

/* --- SECTION 2 --- */

.section2{
    height: 60rem;
}

.section2 a{
    color: #000000;
    margin-right: 8rem;
    margin-top: 3px;

    border: 1px solid;
    padding: 10px;
}

.section2 h2{
    margin-right: 11rem;
    font-size: 35px;
}

section .titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards-imagens{
    margin: 3rem 14.5rem;
    
    display: flex;
    flex-wrap: wrap;
    
}

.cards-imagens img{
    padding: 20px;
}

/* --- FOOTER --- */

footer{
    background-color: #000000;
    color: #ffffff;
    
    height: 9rem;
}

.container{
    margin-left: 16rem;
}

.container h4, a{
    margin-top: -1rem;
}

.group1{
    display: flex;
    flex-direction: row;
  
    margin-right: 21rem;
    
}

.group1 i{
    margin-right: 1rem;
    font-size: 30px;
}

.group3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 2rem;
    margin-left: 16rem;
    margin-right: 20rem;

}

.group3 a{
    margin-right: 1rem;
}

.group3 p{
    margin-top: -1rem;
}
